main {
    align-items: center;
    justify-content:start;
}

h1 {
    margin: 2rem;
}

.contact-list li {
    line-height: 2rem;
}

.google-map {
    width: 400px;
    height: 300px;
    margin: auto;
    border: none;
}

@media (max-width: 500px) {
    .google-map {
        width: 90vw;
        height: 70vw;
    }
}